<% provide(:title, "Sponsors") %>
    <h1>Sponsors</h1>

<div class="container">
  <div class="col-md-4 sp">
    <%= image_tag 'Decathlon_Logo.png', :class => "img-responsive center-block" %>

  </div>

  <div class="col-md-4 sp">
    <%= image_tag 'vactech.jpg', :class => "img-responsive center-block" %>

  </div>

  <div class="col-md-4 sp">
    <%= image_tag 'asme-logo.png', :class => "img-responsive center-block" %>

  </div>

  <div class="col-md-4 sp">
    <%= image_tag 'BTWIN2.png', :class => "img-responsive center-block" %>

  </div>

  <div class="col-md-4 sp">
    <%= image_tag 'fir_logo.png', :class => "img-responsive center-block" %>

  </div>

  <div class="col-md-4 sp">
    <%= image_tag 'atcon.png', :class => "img-responsive center-block" %>

  </div>

  <div class="col-md-4 sp">
    <%= image_tag 'krystal.jpg', :class => "img-responsive center-block" %>

  </div>


</div>

    <h2>
      For Further Details , Click to open: <%= link_to "Sponsorship Brochure", asset_path("corporate brochure 2016-17.pdf") %>
    </h2>
