<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag 'rafav.ico' %>

    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=>'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=>'reload' %>
    <%= render 'layouts/shim' %>

    <meta name="google-site-verification" content="zcTtjdC1OH8inJ5lwBoHltmtSLtR8yPS8AfGlqRNnH0" />
  </head>
  <body>
    <%= render 'layouts/header' %>
       <% flash.each do |message_type, message| %>
         <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>